export(mvLSW)
S3method(summary,mvLSW)
export(is.mvLSW)
export(single_pqj_plot)
export(panel_j_plot)
export(panel_pq_plot)
export(matrix_j_plot)
S3method(plot,mvLSW)
export(mvEWS)
export(RawPeriodogram)
export(CorrectBias)
export(AdjPositiveDef)
export(Smooth_EWS)
export(Smooth_GCV)
export(coherence)
export(rmvLSW)
export(Spectrum2Transfer)
export(PsiJLmat)
export(AutoCorrIP)
export(varEWS)
export(Asymp_Quantile)
export(modchol)
export(PosDefEst)
import(wavethresh)
import(fields)
importFrom("grDevices", "col2rgb", "palette", "rgb")
importFrom("graphics", "grid", "layout", "lines", "mtext", "par", "plot", "polygon", "text", "title")
importFrom("stats", "as.ts", "is.ts", "is.tskernel", "kernel", "qnorm", "rnorm")
useDynLib(mvLSW, SmoothEWS, AutoCorr, WaveCorrInnerProd, SmoothCovEst)
